<!-- <div id="fh5co-course"> -->
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <!-- <h2>Artikel Terbaru</h2> -->
          <!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
        </div>
      </div>
      <div class="row">
        <% @blogs.each do |blog| %>
          <div class="col-md-6 animate-box">
            <div class="course">
              <% if blog.banner.attached? %>
                <a href="#" class="course-img" style="background-image: url(<%= url_for(blog.banner) %>);">
                </a>
              <% end %>
              <div class="desc">
                <h3><a href="#"><%= blog.judul %></a></h3>
                <p><%= blog.content %></p>
                <span><a href="/blogs/<%= blog.id %>" class="btn btn-primary btn-sm btn-course">Baca Selengkapnya</a></span>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @blogs %>
      </div>
    </div>
  <!-- </div> -->