<p id="notice"><%= notice %></p>

<p>
  <% if @blog.banner.attached? %>
    <img src="<%= url_for(@blog.banner)  %>" style="width: 100%; height: 20%;" >
  <% end %>
</p>

<p>
  <h3><b> <%= @blog.judul %> </b></h3>
</p>

<p>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
