<div id="fh5co-course">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2>Artikel Terbaru</h2>
          <!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
        </div>
      </div>
      <div class="row">
        <% @artikels.each do |artikel| %>
          <div class="col-md-6 animate-box">
            <div class="course">
              <% if artikel.thumbnail.attached? %>
                <a href="#" class="course-img" style="background-image: url(<%= url_for(artikel.thumbnail) %>);">
                </a>
              <% end %>
              <div class="desc">
                <h3><a href="#"><%= artikel.judul %></a></h3>
                <p><%= artikel.isi %></p>
                <span><a href="/artikels/<%= artikel.id %>" class="btn btn-primary btn-sm btn-course">Baca Selengkapnya</a></span>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @artikels %>
      </div>
    </div>
  </div>
